<p>Hey There!</p>
<p>
    <p>Congrats!</p>
    <div>
      <b>A comment has been added <%= @place.name %> on Nomster.</b>
      <p>Check it out <%= link_to 'here', place_url(@place)%>.</p>
    </div>
</p>

Thanks, <br />
David