@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('../assets/seigaiha.png');
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navbar.navbar-inverse {
  /* background: url('../assets/grey_wash_wall.png'); */
  background-color: #1C1C1F;
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #1ED760;
  font-family: 'rubikmedium';
  letter-spacing: -0.3px;
  font-size: 30px;
}

.navbar-inverse .navbar-brand:hover {
  color: #fff;
}

.nav-color {
  color: #fff;
}

.has-error {
  color: #ff3333;
  background-color: #FFFEEE;
  border-radius: 3px;
  padding: 8px;
}




/* Google Map */
#map {
  height: 100%;
}

/* Pagination CSS */
.digg_pagination {
  cursor: default;
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.5em 0.7em;
  display: block;
  float: left;
  margin-right: 5px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #333333;
  color: white;
  border: 1px solid #333333;
}

.digg_pagination a {
  text-decoration: none;
  color: #333333;
  border: 1px solid #333333;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}
